{% extends 'base.html' %}
<!--Content block -->
{% block navbar %}
    {% include 'nav_bar.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <!--Poster background -->
    <div class="row">
        <div class="col-lxs-6 col-lsm-6 col-md-6 col-llg-6 posterPath" style="align-content: center;">
        <img src="{{movie.poster}}" alt="{{movie.title}} poster" style="width: auto;height: 500px;">
        </div>
        <div class="coll-xs-6 coll-sm-6 col-md-6 col-llg-6 movie-details">
            <h3>{{ movie.title }}</h3>
            <p class="overview">{{ movie.overview}}</p>
            <p class="ratings"><b>{{ movie.vote_average }}</b> - <i>{{ movie.vote_count }} votes</i></p>
        </div>
    </div>

</div>
{% endblock %}