{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!--Content block -->
{% block navbar %}
    {% include 'nav_bar.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <!--Poster background -->
    <div class="row">
        <div class="ol-xs-6 ol-sm-6 col-md-4 ol-lg-6 posterPath" style="align-content: center;">
        <img src="{{movie.poster}}" alt="{{movie.title}} poster" style="width: auto;height: 500px;">
        </div>
        <div class="ol-xs-6 ol-sm-6 col-md-6 ol-lg-6 movie-details">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{ movie.title }}</h3>
                    <p class="overview">{{ movie.overview}}</p>
                    <p class="ratings"><b>{{ movie.vote_average }}</b> - <i>{{ movie.vote_count }} votes</i></p>
                    <a  class="ratings" href="/movie/review/new/{{ movie.id}}"> Write a new review</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1>Reviews</h1>
                    <hr>

                    {% if reviews %}
                        {{macro.displayReviews(reviews)}}
                    {% else %}
                        <h3 class="text-center">This movie has no reviews.</h3>
                        <a class="btn btn-warning btn-lg text-center" href="/movie/review/new/{{movie.id}}"> Write one here!</a>

                    {% endif%}
                </div>
            </div>
            
        </div>
    </div>

</div>
{% endblock %}